/* start global styles */
:root{
    --main-transiton: 0.3s;
    --red-color: #A00201;
    --gray-color: #6A6A6A;
    --black-color: #000;
    --white-color:#fff;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    padding: 1.5rem 0 1rem;
    color: var(--gray-color);
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
p{
    font-size: 1.2rem;
}
ul{
    list-style: none;
}
button{
    border: none;
    cursor: pointer;
}
/* small screen */
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}

/* medium screen */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}

/* large screen */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
.main-btn{
    padding: 0.5rem 1rem;
    background-color: var(--red-color);
    color: var(--white-color);
    border-radius: 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    transition: var(--main-transiton);
}
.main-btn:hover{
    transform: scale(1.1);
    box-shadow: var(--black-color) 0px 0px 10px -1px;
}
.back-btn{
    color: var(--red-color);
    background-color: transparent;
    font-size: 1rem;
}
/* end global styles */


/* start style drop down menu */

.dropbtn {
    border: none;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown img{
    width: 30px;
    height: 20px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white-color);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: auto;
    height: 9rem;
}


.dropdown-content li {
    color: var(--black-color);
    padding: 0.8rem 1rem;
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
}


.dropdown-content li:hover {
    background-color: #f1f1f1
}


.dropdown:hover .dropdown-content {
    display: block;
}
/* end style drop down menu */
