section .car-info form .second-step .repeater .photo-second{
    position: relative;
    padding-top: 2rem;
}
section .car-info form .second-step .repeater .photo-second img{
    width: 5rem;
    height: 5rem;
    position: absolute;
    right: 8px;
    top: 0;
    display: none;
}
body.rtl section .car-info form .second-step .repeater .photo-second img{
    left: 8px;
    right: auto;
}
section .car-info form .second-step .repeater hr{
    height: 3px;
    margin: 4rem 0;
    display: block;
}
section .car-info form .second-step .repeater .minus{
    margin-bottom: 2rem;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: 1rem;
    background-color: transparent;
    box-shadow: black 0px 0px 13px -4px;
    font-size: 1.8rem;
    padding: 0 0.8rem;
    border-radius: 50%;
}
section .car-info form .second-step .buttons-second{
    display: flex;
    align-items: center;
    gap: 1rem;
}
section .car-info form .second-step .buttons-second button:nth-child(2){
    background-color: #689F38;
}